.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  color: black;
  /* float: left; */
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  border: 1px solid black; 
  margin: 0 4px;
  font-size: 22px;
}

.pagination div.active button {
  background-color: green;
  color: white;
  border-radius: 20px;
}

.pagination div:not(.active) button:hover:not(:disabled) {
  background-color: grey;
}

.navigation button {
  color: red;
}

.navigation button:disabled {
  background-color: #cccccc; 
  color: grey; /* Disabled button text color */
  /* cursor: not-allowed;  */
  /* Remove hover effect */
  /* pointer-events: none; Disables all interactions */
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

.dark .pagination button {
  background-color: #333;
  color: white;
  border: 1px solid #444;
}

.dark .pagination button:hover {
  background-color: #444;
}

.dark .note {
  background-color: black;
  color: white;
}

/* .create_user_form {
  display: flex;
  justify-content: flex-end;
  align-items: left;
  gap: 20px; 
  position: absolute;
  top: 20;
  right: 0;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 180px;
  height: auto;
} */

/* .login_form{
  display: flex;
  justify-content: flex-end;
  align-items: left;
  gap: 20px; 
  position: absolute;
  top: 30;
  right: 30;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 160px;
  height: auto;
} */

.input{
  align-items: center;
}

.dark .login_form {
  background-color: black;
  color: white;
}

.dark .create_user_form {
  background-color: black;
  color: white;
}